*{
	font-family:"Courier New", monospace;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

body {
	background-color: skyblue;
}
html { scroll-behavior: smooth; }
nav { background-color: white; }
h1	{
	color: black important;
	text-align: center;
	font-size: 2rem;
}
section {
	height: 100vh;
	text-align: center;
}	
h2 {
	color: blue;
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}
/*id selector is given more priority than other selector*/

#Zuitt-motto {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

/* attribute selector - allows us to select particular elements with the same attribute.
	tagname[attribute]
		border-width:  allows us to determine the thickness of an element's border;
		border-color:  allows us to determine the color of an element's line;
*/

input[required] {

	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/* Adjacent sibling selector - allows to select a particular element that immediately follow a sibling element
	

*/

#Zuitt-moto + img	{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* descendant selector - allows us to select element that are the descendants of the first selector (ancestor)
*/

#bootcamp-learning-list li {
	color: #075966;
}

/* adjacent sibling selector
h2 ~ a {
	text-decoration: none;
}
*/

form {
	text-align: center;
	background-color: white;
	border:  2px solid black;
	height:  150px;
	width: 25vw;
	position: relative;
	left:  37.25%;
}

section > form > label {
	color: rgb(0, 0, 128);
}

button {
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;
	padding: 3px;
}