* {
	font-family: "Verdana", "sans-serif" monospace;
	font-size: 20;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;	
}

#h2 {
	text-transform: uppercase;
}

/* NOT WORKING /

.offering-item {
	background-color: #90EE90;
} /* NOT WORKING /

.bootcamp-tools { 
	border-color: #000FF;
	border-width: 2px;
	border-style: solid;
} /*NOT WORKING /

img + ol {
	list-style-type:  none;
	margin: 0;
	padding: 0
} /* NOT WORKING */

h3 image {
	height: 20vh;
	width: 20 vh;
	border: 150px;
}

form {
	text-align: center;
}

ol p {
	color: FFFF00;	
}





